<button onclick="window.location.href='score/scoreentry'">New Round</button>
<button onclick="window.location.href='/dashboard'">View Statistics</button>
<button>Add New Bow</button>
<button>Edit Existing Bow</button>