<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Bow</button>
    <div id="myBowDropDown" class="dropdown-content">
        <a id="bow1">Bow1</a>
        <a id="bow2">Bow2</a>
    </div>
</div>
<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Bow</button>
    <div id="myArrowDropDown" class="dropdown-content">
        <a id="arrow1">Bow1</a>
        <a id="arrow2">Bow2</a>
    </div>
</div>
<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Bow</button>
    <div id="myReleaseDropDown" class="dropdown-content">
        <a id="release1">Bow1</a>
        <a id="release2">Bow2</a>
    </div>
</div>
<div class="textentry">
    <input>
    <label for="distance">distance</label>
    <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Bow</button>
    <div id="myDistanceDropDown" class="dropdown-content">
        <a id="feet">Bow1</a>
        <a id="meters">Bow2</a>
    </div>
</div>
</div>