<h3 id="greeting"></h3>
<div class="score-table">
  {{! <label for="rounds">Choose A Game:</label>

  <select name="rounds" id="rounds">
    <option value="--">--</option>
    <option value="3-150">3 Spot - 150</option>
    <option value="3-300">3 Spot - 300</option>
    <option value="5-150">5 Spot - 150</option>
    <option value="5-300">5 Spot - 300</option>
  </select> }}
  <div class="table-inputs">
    <div>
      <label for="arrows">Number of arrows per end (1-100):</label>

      <input type="number" id="arrows" name="arrows" min="1" max="100" />
    </div>
    <div>
      <label for="ends">Number of ends (1-10):</label>

      <input type="number" id="ends" name="ends" min="1" max="10" />
    </div>
    <div>
    <button type="submit" onclick="createNewRound()">Generate a Game</button>
    </div>
    {{!-- <input type="button" value="Generate a Game" onclick="createNewRound()" /> --}} 
  </div>

</div>

{{! <table>
    <tr>
        <th>End</th>
        <th>Arrow1</th>
        <th>Arrow2</th>
        <th>Arrow3</th>
        <th>EndTotal</th>
        <th>X Count</th>
    </tr>
    <tr>
        <td>1</td>
        <td><textarea id="end1arrow1" onblur="sumEnd(this)" onfocus="this.select()"></textarea></td>
        <td><textarea id="end1arrow2" onblur="sumEnd(this)" onfocus="this.select()"></textarea></td>
        <td><textarea id="end1arrow3" onblur="sumEnd(this)" onfocus="this.select()"></textarea></td>
        <td id="end1total">0</td>
        <td id="end1Xcount">0</td>
    </tr>
        <tr>
        <td>2</td>
        <td><textarea id="end2arrow1" onblur="sumEnd(this)" onfocus="this.select()"></textarea></td>
        <td><textarea id="end2arrow2" onblur="sumEnd(this)" onfocus="this.select()"></textarea></td>
        <td><textarea id="end2arrow3" onblur="sumEnd(this)" onfocus="this.select()"></textarea></td>
        <td id="end2total">0</td>
        <td id="end2Xcount">0</td>
    </tr>
        <tr>
        <td>3</td>
        <td><textarea id="end3arrow1" onblur="sumEnd(this)" onfocus="this.select()"></textarea></td>
        <td><textarea id="end3arrow2" onblur="sumEnd(this)" onfocus="this.select()"></textarea></td>
        <td><textarea id="end3arrow3" onblur="sumEnd(this)" onfocus="this.select()"></textarea></td>
        <td id="end3total">0</td>
        <td id="end3Xcount">0</td>
    </tr>
        <tr>
        <td>4</td>
        <td><textarea id="end4arrow1" onblur="sumEnd(this)" onfocus="this.select()"></textarea></td>
        <td><textarea id="end4arrow2" onblur="sumEnd(this)" onfocus="this.select()"></textarea></td>
        <td><textarea id="end4arrow3" onblur="sumEnd(this)" onfocus="this.select()"></textarea></td>
        <td id="end4total">0</td>
        <td id="end4Xcount">0</td>
    </tr>
        <tr>
        <td>5</td>
        <td><textarea id="end5arrow1" onblur="sumEnd(this)" onfocus="this.select()"></textarea></td>
        <td><textarea id="end5arrow2" onblur="sumEnd(this)" onfocus="this.select()"></textarea></td>
        <td><textarea id="end5arrow3" onblur="sumEnd(this)" onfocus="this.select()"></textarea></td>
        <td id="end5total">0</td>
        <td id="end5Xcount">0</td>
    </tr>
        <tr>
        <td>6</td>
        <td><textarea id="end6arrow1" onblur="sumEnd(this)" onfocus="this.select()"></textarea></td>
        <td><textarea id="end6arrow2" onblur="sumEnd(this)" onfocus="this.select()"></textarea></td>
        <td><textarea id="end6arrow3" onblur="sumEnd(this)" onfocus="this.select()"></textarea></td>
        <td id="end6total">0</td>
        <td id="end6Xcount">0</td>
    </tr>
        <tr>
        <td>7</td>
        <td><textarea id="end7arrow1" onblur="sumEnd(this)" onfocus="this.select()"></textarea></td>
        <td><textarea id="end7arrow2" onblur="sumEnd(this)" onfocus="this.select()"></textarea></td>
        <td><textarea id="end7arrow3" onblur="sumEnd(this)" onfocus="this.select()"></textarea></td>
        <td id="end7total">0</td>
        <td id="end7Xcount">0</td>
    </tr>
        <tr>
        <td>8</td>
        <td><textarea id="end8arrow1" onblur="sumEnd(this)" onfocus="this.select()"></textarea></td>
        <td><textarea id="end8arrow2" onblur="sumEnd(this)" onfocus="this.select()"></textarea></td>
        <td><textarea id="end8arrow3" onblur="sumEnd(this)" onfocus="this.select()"></textarea></td>
        <td id="end8total">0</td>
        <td id="end8Xcount">0</td>
    </tr>
        <tr>
        <td>9</td>
        <td><textarea id="end9arrow1" onblur="sumEnd(this)" onfocus="this.select()"></textarea></td>
        <td><textarea id="end9arrow2" onblur="sumEnd(this)" onfocus="this.select()"></textarea></td>
        <td><textarea id="end9arrow3" onblur="sumEnd(this)" onfocus="this.select()"></textarea></td>
        <td id="end9total">0</td>
        <td id="end9Xcount">0</td>
    </tr>
        <tr>
        <td>10</td>
        <td><textarea id="end10arrow1" onblur="sumEnd(this)" onfocus="this.select()"></textarea></td>
        <td><textarea id="end10arrow2" onblur="sumEnd(this)" onfocus="this.select()"></textarea></td>
        <td><textarea id="end10arrow3"onblur="sumEnd(this)"  onfocus="this.select()"></textarea></td>
        <td id="end10total">0</td>
        <td id="end10Xcount">0</td>
    </tr>

</table> }}

<button type="submit" style="margin-top: 20px; margin-left: 30%">Save</button>
<script src="/javascript/scoretable.js"></script>
<script src="/javascript/newround.js"></script>
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
></script>